body{
    text-align: center;
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
h1{
    color: beige;

}

h2{
    color: beige;
    font-style: inherit;
}
